/*              main code             */
/*              main code             */
/*              main code             */
/*              main code             */

:root {
  --primary-color: #2C7EF8;
  --primary-color-hover: #075CD9;
  --on-primary-light: #EBEDEF;
  --background-light : #EBEDEF;
  --on-background-light: #191C1E;
  --surface-light: #EBEDEF;
  --erorrs: #E63946;
  --success: #90F677;
  --decpription: #444749;
	font-family: 'yekan', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: yekan;
  src: url(../fonts/Persian-Yekan.ttf);
}
/* body {
  background-color: var(--surface-light);
} */
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {

}
.container {
  margin: 0 auto;
	width: 1140px;
}
.btn {
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 24px 0;
}
.nav__icon {
  display: none;
}
.nav__title {
  display: none;
}
.menu {
	display: flex;
	align-items: center;
	gap: 72px;
}
.menu__item {
}
.menu__item__link {
	text-decoration: none;
	color: var(--on-background-light);
	color: #666666;
}
.menu__item__link--bold {
	font-weight: bold;
	color: #141414;
}
.header__buttons {
	display: flex;
	align-items: center;
	gap: 16px;
}
.header__btn {
	height: 40px;
	width: 150px;
}
.header__mode {

}
.main {
  width: 100%;
  background: linear-gradient(180deg, rgba(235,243,255,1) 0%, rgba(255,255,255,1) 40%);
  /* padding: 0 10px; */
}
.advertise {
	padding-top: 113.5px;
	text-align: center;
  position: relative;
}
/* .advertise::after {
  background-image: url(images/Ellipse\ 128.svg);
  background-repeat: no-repeat;
  background-size: contain;
} */
.advertise__top-text {
	font-size: 46px;
	line-height: 82.5px;
	font-weight: 400;
}
.advertise__title {
	font-size: 64px;
	line-height: 115.5px;
	font-weight: 900;
	margin-bottom: 87px;
	
}
.advertise__decription {
	font-size: 20px;
	line-height: 31px;
	margin: 0 auto;
  color: #141414;
  margin-bottom: 40px;
}
.advertise__buttons {
	display: flex;
	justify-content: center;
	gap: 16px;
}
.advertise__login {
	width: 200px;
	height: 48px;
	
}
.advertise__about {
	width: 200px;
	height: 48px;
	background-color: #EBF3FE;
	color: var(--primary-color);
}
.main__img {
	display: block;
	width: 100%;
  object-fit: contain;
	border-radius: 12px 12px 0px 0px;
	margin: 80px auto 124px auto;
}
.features {
  text-align: center;
  margin: 0 auto;
}
.features__header {
  max-width: 540px;
  margin: 0 auto;
}
.features__title {
  font-size: 40px;
  line-height: 72px;
  font-weight: 600;
  padding: 0 16px;
  margin-bottom: 12px;
}
.features__desciption {
  font-size: 18px;
  line-height: 30px;
  color: var(--decpription);
  margin-bottom: 40px;
}
.features__desciption__mobile {
  display: none;
}
.features__cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 0 auto;
}
.features__card {
  width: 242px;
  border-radius: 24px;
  border: 1px solid #F5F6F8;
}
.features__card__icon {
  width: 48px;
  height: 48px;
  border-radius: 80px;
  background-color: #F5FBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 32px;
}
.features__card__icon__svg {

}
.features__card__title {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}
.features__card__description {
  line-height: 30px;
  font-size: 14px;
  margin: 0 48px;
  color: var(--decpription);
}

.download {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  margin-top: 124px;
  position: relative;
}
.download__desktop-img {
  border: 7px solid #6B71854D;
  border-radius: 21px;
  width: 100%;
  height: 387px;
  object-fit: cover;
}
.download__mobile-img {
  position: absolute;
  left: 290px;
  top: 35px;
  border: 6px solid #6B71854D;
  border-radius: 21px;
  height: 392px;
}
.download__cover-box {
  display: none;
}
.download__text {

}
.download__text__os {
  color: var(--decpription);
  line-height: 30px;
}
.download__text__header {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
}
.download__text__description {
  margin-top: 16px;
  font-size: 18px;
  color: var(--decpription);
  line-height: 30px;
}
.download__text__login-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download__text__login {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--primary-color);
}
.download__text__login__arrow {

}
.footer {
  margin-top: 100px;
}
.footer__title {
  text-align: center;
  margin-bottom: 48px;
}
/* .footer__title::after {
  background: #000;
  height: 20px;
  width: 200px;
} */
.footer__box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  
}
.footer__right {
  width: 300px;
}
.footer__card {
  display: none;
}
.footer__fax, .footer__call, .footer__loc {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.footer__fax {

}
.footer__fax-text {
  font-size: 14px;
}
.footer__call {

}
.footer__call-text {
  font-size: 14px;
}
.footer__loc {

}
.footer__loc-text {
  font-size: 14px;
  line-height: 20px;
}
.footer__left {
}
.footer__left__title {
  font-weight: 700;
  margin-bottom: 12px;
}
.footer__left__description {
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}
.footer__email {
  display: flex;
  align-items: center;
  position: relative;
}
.footer__email__input {
  border: 1px solid #A1A1A1;
  border-radius: 10px;
  padding: 10px 24px 10px 6px;
  width: 100%;
  height: 48px;
  padding-left: 80px;
  font-family: "yekan";
}
.send-btn {
  width: 64px;
  height: 36px;
  padding: 10px 16px 10px 16px;
  position: absolute;
  left: 5px;
}
.footer__copyright {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 16px auto;
  color: #666666;
}








@media (max-width: 1200px) {
  .container{
      width: 960px;
  }
  .menu {
      gap: 48px;
  }
  .download {
      justify-content: space-between;
  }
  .download__desktop-img {
      display: none;
  }
  .download__mobile-img {
      position: static;
      
  }
  .download__text {
      flex-basis: 60%;
  }
}
@media (max-width: 992px) {
  .container{
      width: 720px;
  }
  .features__cards {
      flex-wrap: wrap;
      justify-content: center;
      gap: 64px;
  }
  .download__text__os {
      display: none;
  }
  .download__text__login-box {
      margin-top: 10px;
  }
  .footer__email__input {
    width: 100%;
  }
  .send-btn {
      width: 48px;
      position: absolute;
      left: 5px;
  }
}
@media (max-width: 768px) {
  .container {
      width: 540px;
  }
  .menu {
      gap: 24px;
  }
  .advertise__title {
      font-size: 48px;
  }
  .features__cards {
      gap: 0;
  }
}
@media (max-width: 576px) {
  .container {
      width: 90%;
      margin: 0 auto;
      padding: 0;
  }
  /* .header, .main {
      padding-right: 10px;
      padding-left: 10px;
  } */
  .menu {
      display: none;
  }
  .header__buttons {
      display: none;
  }
  .nav__icon {
      display: block;
  }
  .nav__title {
      display: block;
      margin-left: calc(50vw - 75px);
      font-size: 24px;
      font-weight: 600;
      color: black;
      text-decoration: none;
  }
  .advertise {
      padding-top: 40px;
  }
  .advertise__top-text {
      font-size: 32px;
      line-height: 82.5px;
      font-weight: 400;
  }
  .advertise__title {
      font-size: 36px;
      line-height: 50px;
      margin-bottom: 50px;
      
  }
  .advertise__decription {
      font-size: 16px;
      line-height: 24px;
  }
  .advertise__buttons {
      margin-top: 40px;
  }
  .advertise__login {
      border-radius: 8px;
  }
  .advertise__about {
      border-radius: 8px;
  }
  .main__img {
      margin-top: 40px;
      margin-bottom: 30px;
  }
  .features__title {
      font-size: 28px;
  }
  .features__desciption {
      display: none;
  }
  .features__desciption__mobile {
      font-size: 18px;
      line-height: 30px;
      color: var(--decpription);
      display: block;
  }
  .features__cards {
      gap: 24px;
  }
  .features__card__title {
      font-size: 18px;
      line-height: 24px;
  }
  .features__card {
      width: 170px;
      border-radius: 24px;
  }
  .features__card__description {
      font-size: 12px;
      margin: 0 24px;
  }
  .download {
      display: block;
      position: relative;
      margin-top: 150px;
  }
  
  .download__mobile-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 270px;
      height: auto;
      object-fit: contain;
  }
  .download__cover-box {
      position: absolute;
      top: 300px;
      display: block;
      width: 100%;
      height: 300px;
      background-color: #fff;
      z-index: 1;
  }
  .download__text__header {
      position: absolute;
      top: -100px;
      left: 0;
      right: 0;
      text-align: center;
  }
  .download__text__description {
      position: absolute;
      font-size: 16px;
      bottom: 50px;
      z-index: 2000;
      text-align: center;
  }
  .download__text__login-box {
      padding: 8px 16px 8px 16px;
      text-align: center;
      margin: 0 auto;
      margin-top: -100px;
      z-index: 20000;
  }
  .download__text__login {
      font-size: 24px;
      font-weight: 600;
      z-index: 20000;
  }
  .download__text__login__arrow {
      height: 30px;
      width: 30px;
      z-index: 20000;
  }
  .footer__box {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer__fax, .footer__call, .footer__loc {
    display: none;

}
.footer__email {
    width: 75%;
    margin: 0 auto;
}
.footer__email__input {
    /* display: block; */
    /* margin-right:25vw; */
}
.footer__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    gap: 10px;
}
.footer__cards__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.footer__left {
    width: 100%;
}
.footer__right {
    margin-top: 20px;
    /* width: 100%; */
}
.footer__card {
    display: block;
    width: 100%;
    border-radius: 24px;
    border: 1px solid #F5F6F8;
    text-align: center;
    background-color: #fff;
}
/* .footer__card__call {
    margin-bottom: 16px;
} */
.footer__card__icon__loc {
    margin: 0 auto;
}
.footer__card__icon {
  width: 48px;
  height: 48px;
  border-radius: 80px;
  background-color: #F5FBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 26px;
}
.footer__card__description {
  line-height: 30px;
  font-size: 12px;
  margin: 0 24px;
  color: var(--decpription);
}
.footer__card__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
}
@media (max-width: 380px) {
  .advertise__top-text {
      font-size: 24px;
  }
  .advertise__title {
      font-size: 30px;
  }
  .advertise__decription {
      font-size: 12px;
  }
  .features__title {
      font-size: 20px;
      line-height: 40px;
  }
  .features__card__title {
      font-size: 16px;
      line-height: 20px;
  }
  .features__card {
      width: 120px;
      border-radius: 24px;
  }
  .features__card__description {
      font-size: 10px;
      margin: 0 12px;
  }
  .download__mobile-img {
      width: 170px;
  }
  .download__text__description {
      font-size: 10px;
      margin: 0 10px;
      line-height: 24px;
      bottom: 55px;
  }
  .download__cover-box {
      height: 200px;
      top: 200px;
  }
  .download__text__login-box  {
      margin-top: -25px;
  }
  .download__text__login {
      font-size: 18px;
      font-weight: 100;
  }
  .download__text__login__arrow {
      height: 24px;
      width: 24px;
      z-index: 20000;
  }
  .footer__email {
    width: 100%;
  }
  .footer__cards {
      flex-wrap: wrap;
  }
  .footer__card {
      width: 100%;
  }
  .footer__card__inside {
      width: 100%;
  }
  .footer__cards__left {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;
  }
  .footer__card__description {
      font-size: 10px;
      margin-left: 16px;
      margin-right: 8px;
  }
  .footer__copyright {
      font-size: 12px;
  }
}